@import "bootstrap/bootstrap.scss";

/******Generales********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********VARIABLES*****************/
$fondo: rgb(226, 224, 224);

body{
    background-color: $fondo;
}


h1{
    text-align: center;
    padding: 30px 10px 10px 20px;
    text-decoration: underline;
    margin-top: 30px;
 }
 h2{
     text-align: center;
    padding: 10px 10px;
 }

 /****CLASES*****/
 .menu{
        background-color: rgb(235, 178, 164);
}


.img{
        padding-left: 70%;
}

/*********************EXTEND****************/
.primerTitulo{
    @extend h1;
    padding-top: 40px;
}
/******************** MIXIN*******************/
@mixin texto($justificado, $colortext) {//se aplico sobre parrafos
text-align: $justificado;
   color: $colortext;
}
.text{
    @include texto(justify, rgb(41, 2, 2));
}
/************************MAPA***********************/
$mapa:(
    contacto: rgb(253, 127, 127),
    galeria: rgb(250, 200, 107),
    productos: rgb(247, 247, 115),
    seminarios: rgb(252, 188, 252),
    tutoriales: rgb(255, 101, 147)
);
/**********************LISTA***********************/
@each $paginas, $menu in $mapa{
    .fondoMenu-#{$paginas}{
        background-color: $menu;
    }
}

/***********************ANIMACIONES*****************/
.texAnUno{
    animation-name: textoUno;
    animation-duration: 2s;
}
@keyframes textoUno{
    from{
        transform: translate(500px);
        opacity: 1;
    }
    to{
        transform: translate(0);
    }
}
.texAnDos{
    animation-name: textoDos;
    animation-duration: 2s;
}
@keyframes textoDos{
    from{
        transform: translate(-500px);
        opacity: 1;
    }
    to{
        transform: translate(0);
    }
}






